<div class="woodBack">
  <button class="btn btn-primary mt-5 ml-5" routerLink="/home">Back</button>
<div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center text-white mt-5"> <u>Instructions</u> </h1>
      </div>
    </div>
    <div class="row my-4">
      <div class="col d-flex flex-column">
        <h3 class="font-italic text-white">Setting: </h3>
        <div class="text-white font-weight-bold">
          You are a private eye and have been invited to a will reading of an old friend, held at the deceased's family manor. In the midst of the proceedings, the lights go dark, thunder cracks outside and when the power returns, the will has been destroyed and a man lies on the floor, motionless and void of life. It is up to you to find a copy of the will, discover who amogst you is the murderer, and bring them to justice.
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col d-flex flex-column">
        <h3 class="font-italic text-white">
          How To Play: 
        </h3>
        <div>
          <div>
              <p class="text-white my-2">Players can use the dropdown menu to navigate between rooms of the manor.</p>
              <div class="d-flex justify-content-around ml-5">
                  <img src="../../../assets/images/roomsDropdown.PNG" style="height: 400px;">
              </div>
              <p class="text-white mt-5">In each room, players will find objects, such as notes and keys, these objects can lead you to other clues scattered through out the manor or give you access to rooms that were locked.</p>
              <div class="d-flex justify-content-center mt-3">
                  <img src="../../../assets/images/objectsInRoom.PNG" style="height: 100px;">
              </div>
              <p class="text-white mt-5">Clicking on an object will display a description of the object in the textarea provided. Other events, like reading notes or journal entries will display additional information that will help you figure out who the murderer could be or where the copy of the will is located.</p>
              <div class="d-flex justify-content-center">
                <img src="../../../assets/images/objectDecision.PNG" style="height:400px;">
              </div>
              <p class="text-white mt-5">Players also have an inventory of special objects they will find in rooms, mostly keys. You will need these objects in your inventory if you want to explore all of the rooms and clues of the manor.</p>
              <div class="d-flex justify-content-center mb-5">
                <img src="../../../assets/images/objectInventory.PNG" style="height: 300px;">
              </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
