<div class="bgDimensions">

    <div class="startDimensions container">

      <div class="row">
        <div class="col">
      
          <h1 class="mt-5 text-center text-white">
            Frankie's Murder Mystery Game
          </h1>
      
        </div>
      </div>
      
      <div class="row">
        <div class="col">

          <div class="divDim d-flex flex-column justify-content-center align-items-center">

            <button class="btn btn-primary font-weight-bolder" routerLink='/create'>
              Sign Up & Crack The Case!
            </button>

            <h2 class="text-white">OR</h2>

            <button class="btn btn-primary font-weight-bolder" routerLink='/signin'>
              Sign In & Continue Where You Left Off!
            </button>

          </div>

        </div>
      </div>
      
    </div>

</div>