<div class="theBackground">
  <div class="gameHeight">
    <div class="row">
      <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Parlor</button>
              <button ngbDropdownItem>Kitchen</button>
              <button ngbDropdownItem>Study</button>
              <button ngbDropdownItem>Balcony</button>
              <button ngbDropdownItem>Bedroom</button>
              <button ngbDropdownItem>Hall</button>
              <button ngbDropdownItem>Garage</button>
              <button ngbDropdownItem>Theatre</button>
              <button ngbDropdownItem>Library</button>
              <button ngbDropdownItem>Attic</button>
              <button ngbDropdownItem>Music Room</button>
              <button ngbDropdownItem>Gallery</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>