<div id="bground" class="theBackground">
  <div class="gameHeight container">

    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Rooms</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div *ngFor="let room of roomsInDropdown">
              <button *ngIf="room.roomIsHidden === 'FALSE'" ngbDropdownItem
                (click)="changeBackground(room.roomURL)">{{ room.roomName }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div *ngIf="(showItems)">
          <div *ngFor="let item of itemsInRooms">
            <button *ngIf="item.itemLocation === room.roomName" class="btn btn-danger"></button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>